.board{
	background-color: #adad85;
	position:absolute;
	left:450px;
	top:120px;
}
.green_home{
	background-color: ivory;
	position:absolute;
	left:600px;
	top:40px;
}

.yellow_home{
	background-color: ivory;
	position:absolute;
	left:600px;
	top:600px;
}
button{
	width:35px;
	height:35px;
	border-radius:50px;
	font-size:20px;
	color:#fff;
	line-height:100px;
	text-align:center;
}
.green{
	display:block;
	background:#00e625;
	pointer-events:none;
}
.yellow{
	display:block;
	background:#f7ff66;
	pointer-events:none;
}
.dice {
	pointer-events:auto;
}
.round-button {
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  background: #464646;
  box-shadow: 0 0 3px gray;
}
.round-button:hover {
  background: #262626;
}
.round-button img {
  display: block;
  width: 76%;
  padding: 12%;
  height: auto;
}
.status-bar {
	float:left;
}
