.grid {
	border: 1px;
	margin:0 auto;
	width: 30%;
	height: 50%;
	table-layout: fixed;
}
#board {
	transform:rotate(0deg);
}
.tile {
	background-color: lightgrey;
}
.safe-tile {
	background-color: grey; 
}
.home {
	height: 10%;
	width: 5%;
	border: 1px solid #000;
}
#h1 {
	margin: 0 auto;
}
#h2 {
	margin-left: 65%;
	margin-top: -21%;
}
#h3 {
	margin: 0 auto;
}
#h4 {
	margin-left: 30%;
	margin-top: -5.3%;
}

button {
	height: 20%;
	width: 10%;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.dice {

}