body {
    background: -webkit-linear-gradient(top, rgba(166, 157, 198, 1) 0%, rgba(0, 0, 0, 0.6) 100%);
}

h1 {
    text-align: center;
    font-style: "Open Sans";
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.header {
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    /*background-color: rgba(166, 157, 198, 1);*/
}

.inner-header {
    width: 80vw;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
}

.logo {
    display: inline-flex;
}

.content-place-holder {
    top: 60px;
    width: 100%;
    height: 90%;
    overflow: scroll;
    position: fixed;
    background-color: transparent;
}

.menu {
    position: fixed;
    display: inline-block;
}

.menu-item {
    list-style: none;
}

.menu-list {
    list-style: none;
}

.menu-list-item {
    list-style: none;
}

.menu-icon-image {
    height: 30px;
}
